@import "tailwindcss";

:root {
  --primary: #ff8800;
  --dark: #111111;
  --cream: #f5f1ed;
}


body {
  background-color: var(--cream);
  color: black;
  font-family: var(--font-poppins), sans-serif;
}
